Eel==0.16.0
fake_useragent==1.5.1
jsii==1.99.0
matplotlib==3.9.2
mexc_api==0.0.2
numpy==2.1.0
pandas==2.2.2
pmdarima==2.0.4
psutil==6.0.0
publication==0.0.3
Requests==2.32.3
scikit_learn==1.5.1
scipy==1.14.1
selenium==4.24.0
selenium_wire==5.1.0
seleniumbase==4.28.0
setuptools==70.1.1
statsforecast==1.7.6
statsmodels==0.14.2
typing_extensions==4.12.2
